name: Docs Deployment

on:
  push:
    branches: [ main ]
    paths:
      - 'docs/**'
      - 'sec_interp/**'
      - '.github/workflows/docs.yml'

jobs:
  docs:
    name: Build & Deploy Docs
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Set up Python
        run: uv python install 3.10

      - name: Install dependencies
        run: |
          uv pip install sphinx myst-parser sphinxcontrib-mermaid

      - name: Build HTML Documentation
        run: make apidocs-html

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: docs/build/html
          branch: gh-pages
